extends layout.jade
block title
	title Home

block home
	main.col-3.page
		h1.page__title Title for first page
		p.page_content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere ipsum inventore, officia magnam ex cum incidunt non eveniet, fuga iusto fugiat. Sunt nobis est nesciunt perspiciatis saepe asperiores culpa impedit.