aside.col-1
	.widget.widget--categories
		h4.widget__title Categories
		ul.widget__list
			li.widget__item: a(href="#") Nature
			li.widget__item: a(href="#") Animals
			li.widget__item: a(href="#") People`s life